{% extends 'layout/base.html.twig' %}

{% block title%}
	{{ title }}
{% endblock %}

{% block body%}

	<div id="main">
		<h1>{{ title }}</h1>
		<ul>
			{% for category in categories %}
				<li>
					<a href="{{ path('category_item', {slug:category.slug}) }}">
						{{ category.title }}
					</a>
				</li>
			{% endfor %}
		</ul>

	</div>

{% endblock %}
