{% extends 'base.html.twig' %}

{% block title%}
	{{ title }}
{% endblock %}

{% block body%}

	<div id="main">
		<h1>{{ title }}</h1>
		<ul>
			{% for article in book %}
				<li>
					<a href="{{ path('article', { id: article.id }) }}">
						{{ article }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}
