{% extends 'base.html.twig' %}

{% block title%}
	Home Page
{% endblock %}

{% block body%}

	<div id="main">
        <h1>Home Page</h1>

        {% for article in book %}
            {{ article }}
        {% endfor %}
    </div>

{% endblock %}
