<header>
	<div class="container">
		<div class="logo-wrap">LOGO</div>
		<nav class="nav-wrapp">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/book">Book</a>
                </li>
                <li>
                    <a href="/category">Categories</a>
                </li>
            </ul>
        </nav>
	</div>
</header>
